@import "./breakpoints.scss";
.mycontentwrapper {
  display: flex;
  flex-direction: column;
  //background-color: brown;
  color: #788995;
  font-family: AvenirNext;
  font-size: 21px;
  line-height: 24px;
}

.mytabs {
  color: black !important;
  background-color: initial !important;
  box-shadow: none !important;
}

.containerWrapper {
  padding: 0px;
}

.mysideContainer {
  box-shadow: none !important;
  background-color: #f8fafb !important;
}
.mydetails {
  color: #7d8184;
  font-family: AvenirNext;
  font-size: 18px;
  line-height: 24px;
}
.mydetailsheader {
  font-weight: bold;
}

.mydetailedwrapper {
  display: flex;
  flex-direction: column;
}
.myImgwrapper {
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background: round;
}
.MuiTabs-flexContainer {
  display: flex;
  margin: 0rem 6rem;
  border-bottom: 1px solid #788995;
  @include sm {
    margin: 0rem 0rem;
  }
}
